@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Merriweather&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: #000000;
    padding: 25px 0;
    color: #ffffff;
}

.Cabecalho_Div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
}

.Cabecalho_Menu {
    display: inline;
    margin-left: 30px;
    font-size: 20px;
}

.Cabecalho_Menu_Itens,
.Lista_navegacao{
    text-decoration: none;
    color: #ffffff;
    font-family: 'Bebas Neue', sans-serif;
    font-size: 25px;
}

main {
    background-color: #A9A9A9;
}

.Sobre_Div,.Conteudo_Div {
    display: flex;
    padding: 25px 0;
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
}

.Sobre_Imagem {
    height: 400px;
    margin-right: 25px;
}

header, .Conteudo_Titulo, 
.Subtitulo, footer, .Contato_Titulo {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 25px;
}

.Texto {
    margin: 16px 0;
    font-family: 'Merriweather', serif;
    font-size: 14px;
}

.Separador {
    height: 5px;
    background-color: #000000;
    border-width: 0;
}

.Conteudo_Imagem {
    height: 300px;
    margin-right: 25px;
}

.Lista {
    display: inline;
    margin-right: 20px;
}

.Lista_Logo {
    height: 30px;
}

.Conteudo_Imagem2 {
    height: 300px;
    margin-left: 25px;
}

.Contato_Div, .Rodape {
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
}

.Contato_Titulo {
    margin-top: 20px;
}

.Subtitulo {
    margin: 20px 0;
}
.Contato_Div2 {
    display: flex;
    justify-content: space-between;
}

.Formulario, .Mensagem,
.Botao {
    display: block;
    width: 320px;
    margin-bottom: 8px;
    padding: 8px;
}

.Mensagem {
    resize: none;
    height: 180px;
}

.Botao {
    background-color: #000000;
    color: #ffffff;
    border: none;
    cursor: pointer;
    font-family: 'Bebas Neue', sans-serif;
    font-size: 20px;
}

footer {
    background-color: #000000;
    color: #ffffff;
    padding: 25px 0;
    text-align: center;
}